.vip-center-big-box{
	height: 700px;
	
	padding: 40px 0 0px 0;
}
.vip-left-lists-box{
	width: 230px;
	height: 640px;
	border: 1px solid #CCCCCC;
	float: left;
}
.vip-left-lists-header{
	height: 60px;
	width: 100%;
	background: #fff9f5;
	padding: 14px 0 0 20px;
}
.vip-left-lists-header-title{
	font-size: 16px;
	color: #222222;
	font-weight: 700;
	vertical-align: top;
	margin-top: 6px;
	margin-left: 5px;
}
.vip-left-lists-box .ul-1-box{
	width: 100%;
	padding: 11px 16px 0 16px;
}
.vip-left-lists-box li:hover{
	color: #FF2D52;
	cursor: pointer;
}
.vip-left-lists-box .ul-1-box .ul-1-floor{
	border-bottom: 1px solid #CCCCCC;
	height: 100%;
}
 .ul-1-box .ul-1-floor li{
	font-size: 12px;
	margin-bottom: 18px;
	margin-left: 28px;
}
 .ul-1-box .ul-1-floor li:nth-child(2){
 	list-style: square;
 }
.ul-1-floor .order-quantity{
	float: right;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #FF2D52;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
}
 .vip-left-lists-box .ul-1-box .ul-4-floor{
	height: 100%;
}
.ul-1-box .ul-4-floor li{
	font-size: 12px;
	margin-bottom: 18px;
	margin-left: 28px;
}
 .ul-1-box .ul-4-floor li:nth-child(1){
 	list-style: square;
 }
 /*会员中心左边部分结束*/
/*会员中心主要内容*/
.vip-center-main-box{
	width: 970px;
	height: 640px;
	float: right;
	border: 1px solid #CCCCCC;
	border-left: none;
	padding: 20px;
}
/*主要内容的上边*/
.vip-center-main-header{
	width: 100%;
	height: 160px;
	background: #fff9f5;
}
.personal-header-icon-box{
	padding: 20px;
	display: inline-block;
}
.personal-header-icon{
	width: 122px;
	height: 122px;
	border-radius:50% ;
}
.vip-person-data-box{
	height: 100%;
	width: 180px;
	padding: 42px 0 0 0;
	display: inline-block;
	vertical-align: top;
}
.vip-person-name{
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 900;
	color: #000000;
}
.vip-classify{
	font-size: 12px;
	font-weight: 800;
	color: #000000;
	margin-left: 8px;
}
.remain-money-text{
	font-size: 12px;
	font-weight: 800;
	color: #000000;
	margin-top: 10px;
}
.remain-money-text .remain-money{
	color: #FF2D52;
}
.remain-money-text .addmoney{
	display: inline-block;
	width: 48px;
	height: 26px;
	background: #FF2D52;
	vertical-align: 2px;
	line-height: 16px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	padding: 5px 0 0 0;
}
.remain-money-text .addmoney:hover{
	background: #EC193E;
}
.vip-center-main-header .icon-box{
	width: 438px;
	height: 92px;
	float: right;
	margin-top: 36px;
	margin-right: 80px;
}
.grade-box{
	width: 98px;
	height: 100%;
	float: left;
	margin-right: 10px;
}
.grade-icon-box{
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.grade-box .ordering{
	display: inline-block;
	padding: 10px 0 0 0 ;
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	font-family: "微软雅黑";
}
.grade-box .order-much{
	font-size:12px;
	width: 100%;
	color: #FF2D52;
	font-weight: 600px;
	padding: 6px 0 0 0;
	text-align: center;
}
.recommend-commodity-box{
	width: 450px;
	height: 200px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	display: inline-block;
	margin-right: 6px;
}
.recommend-commodity-box .much-more:hover{
	color: #FF2D52;
}
.recommend-commodity-header{
	width: 100%;
	height: 40px;
	background: #fff9f5;
	padding: 10px 0 0px 20px;
}
.recommend-commodity-header span:nth-child(2){
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}
.recommend-commodity-body{
	width: 100%;
	height: 162px;
}
.recommend-commodity-box .left-button{
	width: 26px;
	height: 58px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	text-align: center;
	line-height:58px;
	margin:58px 0 0 12px ;
	display: inline-block;
	vertical-align: 50px;
}
.recommend-commodity-box .left-button:hover{
	background: #dddddd;
	cursor: pointer;
}
.recommend-commodity-box .right-button{
	width: 26px;
	height: 58px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	text-align: center;
	line-height:58px;
	display: inline-block;
	vertical-align: 50px;
}
.recommend-commodity-box .right-button:hover{
	background: #dddddd;
	cursor: pointer;
}
.pic-price-box{
	width: 360px;
	
	display: inline-block;
	margin: 0 auto;
	
}
.recommend-commodity-pic-box{
	height: 136px;
	margin-left: 10px;
	display: inline-block;
}
.recommend-commodity-pic{
	width: 106px;
	height: 106px;
	display: inline-block;
	margin-top: 10px;
}
.recommend-commodity-price{
}
